/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --bg-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --bg-image: url(../images/cover-image-dark.png);
}

.page.theme_dark {
  color: var(--main-text-color);
  font-family: var(--main-font, 'monaco', monospace);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.theme_dark .decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.theme_dark .decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.theme_dark .header__decor-element {
  display: block;
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme_dark .header__content-paragraph {
  color: var(--bg-color);
}

.theme_dark .content__section-title {
  color: var(--accent-color);
}

.theme_dark .content__section-article .content__section-title {
  color: var(--bg-color);
}

.theme_dark .content__section-subtitle {
  color: var(--bg-color);
}