/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --main-font: 'IBM Plex Mono';
  --main-font-weight: normal;
  --main-font-size: 18px;
  --bg-image: url(../images/cover-image-light.png);
}

@media (375px <= width < 768px) {

  :root {
    --pd: 2.61vi;
  }

}

@media (width >= 1024px) {

  :root .theme_light {
    --pd: 2vi;
  }

}

/* Остальные стили */

@media (prefers-color-scheme: light) {

  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #FFF1F7;;
    --main-text-color: #353430;;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --main-font: 'IBM Plex Mono';
    --main-font-weight: normal;
    --main-font-size: 18px;
    --bg-image: url(../images/cover-image-light.png);
    --cmn-padding: 2.61vi;

  }

  .header__decor-element {
    display: none;
  }

  .header__content-title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 #ff0070;
  }
  
  .page {
    background-image: var(--bg-image);
  }

  .header__theme-menu-button {
    color: var(--main-text-color);

  }
  
  .header__content-paragraph {
    color: var(--main-text-color);
  }
  
  .content__section-title {
    color: var(--main-text-color);
  }
  
  
  .content__section-subtitle {
    color: var(--main-text-color);
  }

}

.page.theme_light {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.theme_light .decorated-zone::before {
  border-block-start: 1px solid var(--main-text-color);
  border-inline-end: 1px solid var(--main-text-color);
}

.theme_light .decorated-zone::after {
  border-block-end: 1px solid var(--main-text-color);
  border-inline-start: 1px solid var(--main-text-color);
}

.theme_light .header__decor-element {
  display: none;
}

.theme_light .header__content-title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 #ff0070;
}

.theme_light .header__theme-menu-button {
  color: var(--main-text-color);
}

.theme_light .header__content-paragraph {
  color: var(--main-text-color);
}

.theme_light .content__section-title {
  color: var(--main-text-color);
}

.theme_light .content__section-subtitle {
  color: var(--main-text-color);
}

/* Остальные стили */

